<h2>Connexion à l'API</h2>
<p>Veuillez entrer vos identifiants pour vous connecter.</p>
<form action="/users" method="post">
    <fieldset>
        <legend>Identifiants de connexion</legend>
        <label for="email">E-mail</label>
        <input type="email" name="email">
        <br><br>
        <label for="password">Mot de passe</label>
        <input type="password" name="password">
        <br><br>
        <input type="submit" value="Connexion">
    </fieldset>
</form>
<h3>Documantation de l'api</h3>
<a href="https://github.com/Sintinedda/Russell-API/blob/main/views/doc.md">
    <input type="button" value="Aller à la documentation">
</a>