<h2>L'utilisateur <%= user.name %> a bien été modifié.</h2>
<br><br>
<p><strong>Email : </strong><%= user.email %></p>
<p><strong>Id : </strong><%= user._id %></p>
<br>
<input type="button" value="Retour" onclick="history.back()">