<h2>Catway numéro <%= catway.catwayNumber %></h2>
<br><br>
<p><strong>Type : </strong><%= catway.type %></p>
<p><strong>État : </strong><%= catway.catwayState %></p>
<p><strong>Id : </strong><%= catway._id %></p>
<br><br>
<input type="button" value="Retour" onclick="history.back()">